OpcUaFctAddon-gateway\src\main\java\com\bouyguesenergiesservices\opcuafctaddon\gateway\* linguist-vendored
OpcUaFctAddon-designer\src\main\java\com\bouyguesenergiesservices\opcuafctaddon\designer\* linguist-vendored
OpcUaFctAddon-common\src\main\java\com\bouyguesenergiesservices\opcuafctaddon\gateway_interface\* linguist-vendored
OpcUaFctAddon-client\src\main\java\com\bouyguesenergiesservices\opcuafctaddon\client\* linguist-vendored

